body {
    background: #F2F2F2;
}

.login {
    height: 480px;
    margin: auto;
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    bottom: 0;
}

.login-main {
    width: 375px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
}
.login-header {
    text-align: center;
    padding: 20px;
}

.login-header h2 {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 30px;
    color: #000;
}

.login-header p {
    font-weight: 300;
    color: #999
}

.login-box {
    padding: 20px;
    padding: 20px;
}

.layui-form-item {
    position: relative;
    margin-bottom: 15px;
    clear: both;
}

.user-login-icon {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 38px;
    line-height: 36px;
    text-align: center;
    color: #d2d2d2;
}

#forgot {
    float: right;
    margin-top: 7px;
    line-height: 24px;
    color: #029789!important;
}

.layui-input{
    display: block;
    padding-left: 38px;
    height: 38px;
    line-height: 1.3;
    line-height: 38px\9;
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
    border-color: #e6e6e6;
}

.user-login-footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 30px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    color: rgba(0,0,0,.5);
}

img {
    width: 200px;
    margin-left: 85px;
}