<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sa.modules.dao.DataBaseDao">

    <!--列出所有 数-->
    <select id="queryTotal" resultType="int">
        select count(*) from sa_data_base where 1=1
        <if test="orUser !=null and orUser!=''">
            AND create_user_id = #{orUser} or user_id =#{orUser}
        </if>
        <if test="dbName !=null and dbName!=''">
            AND db_name LIKE "%"#{dbName}"%"
        </if>
        <if test="dbType !=null and dbType!=''">
            AND db_type = #{dbType}
        </if>
        <if test="userName !=null and userName!=''">
            AND user_name = #{userName}
        </if>
    </select>

    <!--列出所有-->
    <select id="queryList" resultType="com.sa.modules.entity.DataBaseEntity">
        select * from sa_data_base where 1=1
        <if test="orUser !=null and orUser!=''">
            AND create_user_id = #{orUser} or user_id =#{orUser}
        </if>
        <if test="dbName !=null and dbName!=''">
            AND db_name LIKE "%"#{dbName}"%"
        </if>
        <if test="dbType !=null and dbType!=''">
            AND db_type = #{dbType}
        </if>
        <if test="userName !=null and userName!=''">
            AND user_name = #{userName}
        </if>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <!--新增-->
    <insert id="add" parameterType="com.sa.modules.entity.DataBaseEntity" useGeneratedKeys="true" keyProperty="dbId">
        insert into sa_data_base(db_id, db_name, db_type, db_ip, db_address, db_tool,
        db_admin, db_pas, db_content, user_id, user_name, server_id, server_name, create_user_id, create_time)
        values (
        #{dbId}, #{dbName}, #{dbType}, #{dbIp}, #{dbAddress}, #{dbTool},
        #{dbAdmin}, #{dbPas}, #{dbContent}, #{userId}, #{userName}, #{serverId}, #{serverName}, #{createUserId}, #{createTime}
        )
    </insert>

    <!--更新-->
    <update id="edit" parameterType="com.sa.modules.entity.DataBaseEntity">
        update sa_data_base set db_name = #{dbName}, db_type = #{dbType}, db_ip = #{dbIp}, db_address = #{dbAddress}, db_tool = #{dbTool},
        db_admin = #{dbAdmin}, db_pas = #{dbPas}, db_content = #{dbContent}, user_id = #{userId}, user_name = #{userName}, server_id = #{serverId}, server_name = #{serverName} , update_time = #{updateTime} where db_id = #{dbId}
    </update>

    <!--删除-->
    <delete id="delete">
      delete from sa_data_base where db_id = #{id}
    </delete>

    <!--列出名字和id-->
    <select id="queryAllData" resultType="com.sa.modules.entity.DataBaseEntity">
       select *  from sa_data_base where db_id in
        <foreach collection="array" item="id" index="index"
                 open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <!--根据所在服务器查询-->
    <select id="queryByServerAll" resultType="com.sa.modules.entity.DataBaseEntity">
        select *  from sa_data_base where find_in_set(#{id},server_id)
    </select>

    <!--查询出所有数据-->
    <select id="queryAll" resultType="com.sa.modules.entity.DataBaseEntity">
        select * from sa_data_base
    </select>

</mapper>
