<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sa.modules.dao.DataBaseDao">

    <!--列出所有 数-->
    <select id="queryTotal" resultType="int">
        select count(*) from sa_data_base where 1=1
    </select>

    <!--列出所有-->
    <select id="queryList" resultType="com.sa.modules.entity.DataBaseEntity">
        select * from sa_data_base where 1=1
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <!--新增-->
    <insert id="add" parameterType="com.sa.modules.entity.DataBaseEntity" useGeneratedKeys="true" keyProperty="dbId">
        insert into sa_data_base(db_id, db_name, db_type, db_admin, db_pas, db_address, db_tool, db_content, user_id, user_name, server_id, create_user_id, create_time) VALUES (
          #{dbId}, #{dbName}, #{dbType}, #{dbAdmin}, #{dbPas}, #{dbAddress}, #{dbTool}, #{dbContent}, #{userId}, #{userName}, #{serverId}, #{createUserId}, #{createTime}
        )
    </insert>

    <!--更新-->
    <update id="edit" parameterType="com.sa.modules.entity.DataBaseEntity">
        update sa_data_base set db_name = #{dbName}, db_type = #{dbNype}, db_admin = #{dbAdmin}, db_pas = #{dbPas}, db_address = #{dbAddress}, db_tool = #{dbTool}, db_content = #{dbContent}, user_id = #{userId}, user_name = #{userName}, update_time = #{updateTime} where db_id = #{dbId}
    </update>

    <!--删除-->
    <delete id="delete">
      delete from sa_data_base where db_id = #{id}
    </delete>

</mapper>
