<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sa.modules.dao.MenuDao">

    <!--根据父菜单，查询子菜单-->
    <select id="queryListParentId" resultType="com.sa.modules.entity.MenuEntity">
        select * from sa_menu where parent_id = #{parentId} order by order_num asc
    </select>

    <!--列出所有菜单 数-->
    <select id="queryTotal" resultType="int">
        select COUNT(*) from sa_menu WHERE 1=1
        <if test="menuName !=null and menuName!=''">
            AND menu_name LIKE "%"#{menuName}"%"
        </if>
        <if test="type !=null and type!=''">
            AND type LIKE #{type}
        </if>
    </select>

    <!--列出所有菜单-->
    <select id="queryList" resultType="com.sa.modules.entity.MenuEntity">
        select m.*,(select p.menu_name from sa_menu p where p.menu_id = m.parent_id) as parentName
        from sa_menu m WHERE 1=1
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by m.${sidx} ${order}
            </when>
        </choose>
        <if test="menuName !=null and menuName!=''">
            AND menu_name LIKE "%"#{menuName}"%"
        </if>
        <if test="type !=null and type!=''">
            AND type = #{type}
        </if>
    </select>

    <!--列出所有权限-->
    <select id="queryAllPowers" resultType="com.sa.modules.entity.MenuEntity">
      select url  from sa_menu where type = 2;
    </select>

</mapper>
