<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sa.modules.dao.MenuDao">

    <!--根据父菜单，查询子菜单-->
    <select id="queryListParentId" resultType="com.sa.modules.entity.MenuEntity">
        select * from sa_menu where parent_id = #{parentId}
    </select>

    <!--列出所有菜单 数-->
    <select id="queryTotal" resultType="int">
        select COUNT(*) from sa_menu WHERE 1=1
        <if test="menuName !=null and menuName!=''">
            AND menu_name LIKE "%"#{menuName}"%"
        </if>
        <choose>
            <when test="type == 0">
                and type = 0
            </when>
            <when test="type=='2'">
                and type = 1
            </when>
            <otherwise>
                and type != 2
            </otherwise>
        </choose>
    </select>

    <!--列出所有菜单-->
    <select id="queryList" resultType="com.sa.modules.entity.MenuEntity">
        select m.*,(select p.menu_name from sa_menu p where p.menu_id = m.parent_id) as parentName
        from sa_menu m WHERE 1=1
        <if test="menuName !=null and menuName!=''">
            AND menu_name LIKE "%"#{menuName}"%"
        </if>
        <choose>
            <when test="type == 0">
                and type = 0
            </when>
            <when test="type=='2'">
                and type = 1
            </when>
            <otherwise>
                and type != 2
            </otherwise>
        </choose>
    </select>

    <!--列出所有权限-->
    <select id="queryAllPowers" resultType="com.sa.modules.entity.MenuEntity">
      select url  from sa_menu where type = 2;
    </select>

    <!--列出所有目录-->
    <select id="queryAllCatalog" resultType="com.sa.modules.entity.MenuEntity">
      select menu_id,menu_name from sa_menu where type = #{type};
    </select>

    <!--新增菜单-->
    <insert id="add" parameterType="com.sa.modules.entity.MenuEntity" useGeneratedKeys="true" keyProperty="menuId">
      INSERT INTO sa_menu(menu_id, parent_id, menu_name, url, type, icon, create_user_id,create_time)
      VALUES (#{menuId},#{parentId},#{menuName},#{url},#{type},#{icon},#{createUserID},#{createTime});
    </insert>

    <!--更新模块-->
    <update id="edit" parameterType="com.sa.modules.entity.MenuEntity">
        UPDATE sa_menu SET menu_name = #{menuName},parent_id = #{parentId},url = #{url},type = #{type},icon = #{icon}
        WHERE menu_id = #{menuId};
    </update>

    <!--删除模块-->
    <delete id="delete">
        delete from sa_menu where menu_id = #{id}
    </delete>

    <!--根据名字查模块-->
    <select id="queryByMenuName" resultType="com.sa.modules.entity.MenuEntity">
        select * from sa_menu where menu_name = #{MenuName}
    </select>

    <!--列出所有模块 无权限-->
    <select id="menuAllList" resultType="com.sa.modules.entity.MenuEntity">
        select menu_id,menu_name,parent_id from sa_menu
    </select>
</mapper>
