<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sa.modules.dao.RoleDao">

    <!--列出所有角色 数-->
    <select id="queryTotal" resultType="int">
        select COUNT(*) from sa_role WHERE 1=1
        <if test="roleName !=null and roleName!=''">
            AND role_name LIKE "%"#{roleName}"%"
        </if>
    </select>

    <!--列出所有角色-->
    <select id="queryList" resultType="com.sa.modules.entity.RoleEntity">
        select * from sa_role WHERE 1=1
        <if test="roleName !=null and roleName!=''">
            AND role_name LIKE "%"#{roleName}"%"
        </if>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <!--列出角色拥有的权限-->
    <select id="queryRoleList" resultType="int">
      SELECT m.menu_id FROM sa_role r,sa_role_menu rm,sa_menu m
        WHERE r.role_id = rm.role_id AND rm.menu_id = m.menu_id AND r.role_id = #{id}
    </select>

    <!--根据名字查角色-->
    <select id="queryByRoleName" resultType="com.sa.modules.entity.RoleEntity">
        select * from sa_role where role_name = #{roleName}
    </select>

    <!--新增角色-->
    <insert id="add" parameterType="com.sa.modules.entity.RoleEntity" useGeneratedKeys="true" keyProperty="roleId">
        insert into sa_role(role_id,role_name,remark,create_user_id,create_time)
        VALUE (#{roleId},#{roleName},#{remark},#{createUserId},#{createTime});
    </insert>

    <!--更新-->
    <update id="edit" parameterType="com.sa.modules.entity.RoleEntity">
        update sa_role set role_name = #{roleName}, remark = #{remark}where role_id = #{roleId}
    </update>

    <!--删除角色-->
    <delete id="delete">
        delete from sa_role where role_id = #{id}
    </delete>

    <!--列出所有角色 无权限-->
    <select id="roleAllList" resultType="com.sa.modules.entity.RoleEntity">
        select role_id,role_name from sa_role
    </select>

</mapper>
