<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sa.modules.dao.ServerDao">

    <!--列出所有 数-->
    <select id="queryTotal" resultType="int">
        select count(*) from sa_server where 1=1
        <if test="serverName !=null and serverName!=''">
            AND server_name LIKE "%"#{serverName}"%"
        </if>
        <if test="type !=null and type!=''">
            AND type = #{type}
        </if>
        <if test="os !=null and os!=''">
            AND os LIKE "%"#{os}"%"
        </if>
        <if test="userName !=null and userName!=''">
            AND user_name = #{userName}
        </if>
    </select>

    <!--列出所有-->
    <select id="queryList" resultType="com.sa.modules.entity.ServerEntity">
        select * from sa_server where 1=1
        <if test="serverName !=null and serverName!=''">
            AND server_name LIKE "%"#{serverName}"%"
        </if>
        <if test="type !=null and type!=''">
            AND type = #{type}
        </if>
        <if test="os !=null and os!=''">
            AND os LIKE "%"#{os}"%"
        </if>
        <if test="userName !=null and userName!=''">
            AND user_name = #{userName}
        </if>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <!--新增-->
    <insert id="add" parameterType="com.sa.modules.entity.ServerEntity" useGeneratedKeys="true" keyProperty="serverId">
        INSERT INTO sa_server(server_id, server_name, serNet, depSituation, type, model, generator, house_humber, cabinet_humber, cabinet, property_number,
                      equipment_buy_time, equipment_age_limit, leader, hardware_configuration, os, pc_name, server_ip, server_admin, server_pas,
                      shadu_soft, begin_config, server_content, management_port, user_id, user_name, create_user_id, create_time) VALUES (
                  #{serverId}, #{serverName}, #{serNet}, #{depSituation}, #{type}, #{model}, #{generator}, #{houseHumber}, #{cabinetHumber}, #{cabinet}, #{propertyNumber},
                  #{equipmentBuyTime}, #{equipmentAgeLimit}, #{leader}, #{hardwareConfiguration}, #{os}, #{pcName}, #{serverIp}, #{serverAdmin}, #{serverPas},
                  #{shaduSoft}, #{beginConfig}, #{serverContent}, #{managementPort}, #{userId}, #{userName}, #{createUserId}, #{createTime})
    </insert>

    <!--更新-->
    <update id="edit" parameterType="com.sa.modules.entity.ServerEntity">
          update sa_server set
          server_name = #{serverName}, serNet = #{serNet}, depSituation = #{depSituation}, type = #{type}, model = #{model}, generator = #{generator}, house_humber = #{houseHumber},
          cabinet_humber = #{cabinetHumber}, cabinet = #{cabinet}, property_number = #{propertyNumber},
          equipment_buy_time = #{equipmentBuyTime}, equipment_age_limit = #{equipmentAgeLimit}, leader = #{leader},
          hardware_configuration = #{hardwareConfiguration}, os = #{os}, pc_name = #{pcName}, server_ip = #{serverIp}, server_admin = #{serverAdmin}, server_pas = #{serverPas},
          shadu_soft = #{shaduSoft}, begin_config = #{beginConfig}, server_content = #{serverContent}, management_port = #{managementPort},
           user_id = #{userId}, user_name = #{userName},update_time = #{updateTime}
           where server_id = #{serverId}
    </update>

    <!--删除-->
    <delete id="delete">
      delete from sa_server where server_id = #{id}
    </delete>

    <!--列出名字和id-->
    <select id="queryAllServer" resultType="com.sa.modules.entity.ServerEntity">
        select * from sa_server where server_id in
        <foreach collection="array" item="id" index="index"
                 open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

</mapper>
